.bodyColor{
    background-color: #020134;
}

.image_box{
    width: 199px;
    border: 3px solid oldlace;
    border-radius: 13px;
    border-width: 4px;
    float: inline-start;
    margin-left: 194px;
    margin-top: 44px;
}

.resumeColor{
    font-size: 32px;
    color: orange;
}

.jeetColor {
    font-size: 30px;
    display: flow;
    border: 3px solid oldlace;
    border-radius: 13px;
    border-width: 4px;
    width: 676px;
    float: inline-start;
    margin-left: 197px;
    margin-top: 112px;
    color: cyan;
    padding-left: 7px;
}

.educationColor {
    margin-top: 325px;
    font-size: 30px;
    color: yellow;
}

.tableBorder {
    border-width: 3px;
    border-color: yellow;
}

.projectBorder {
    border-width: 3px;
    border-color:gold;
}

.sizeOfSkills {
    font-size: 30px;
    color: lightgreen;
}

.sizeOfSkills li {
    font-size: 24px;
    color: lightgreen;
}

.projectColor {
    font-size: 30px;
    color: gold;
}

#linkbtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-decoration: none;
    /* border: 2px solid gold; */
    border-radius: 4px;
    cursor: pointer;
    color: gold;
    background: #020134;
    padding-top: 12px;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
}

#linkbtn:hover {
    text-decoration: none;
    color: aquamarine;
    border: 2px solid aquamarine;
    background-color: #020134;
}

.socialColor {
    font-size: 30px;
    color: white;
}

.socialColor a {
    /* border: 2px solid rgb(218, 81, 81); */
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.socialColor a:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid aquamarine;
    text-decoration: none;
    color: aquamarine;
}

.contactColor {
    color: cadetblue;
    font-size: 30px;
}

.feedbackColor {
    color: rgb(149, 56, 180);
}

.formButton {
    color: rgb(149, 56, 180);
    background-color: rgb(2, 1, 52);
    border: 2px solid rgb(149, 56, 180);
}

/*
#hover{
    text-decoration: none;
    color: gold;
    background-color: rgb(2 , 1 , 52);
} */

/* .btn {
    font-size: 13px;
    background: gold;
    padding-top: 12px;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
} */

/* .btn:hover {
    color: gold;
    background-color: rgb(2, 1, 52);
} */
